packages/Quote/force-app/main/default/flows/Quote_Convert_Quote_to_Cart.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Cart</name>
        <label>Create Cart</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <actionName>createCart</actionName>
        <actionType>createCart</actionType>
        <connector>
            <targetReference>Update_Webstore_To_Set_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>webStoreId</name>
            <value>
                <elementReference>Get_Quote.ChannelStore__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>cartInput</name>
            <value>
                <elementReference>cartInput</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Cart_Item</name>
        <label>Add Cart Item</label>
        <locationX>490</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>cartItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>cartItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cart_Input</name>
        <label>Assign Cart Input</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>cartInput.effectiveAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartInput.isSecondary</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartInput.name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cartName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cart</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cart_Item</name>
        <label>Assign Cart Item</label>
        <locationX>490</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>cartItem.CartId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Cart.cartSummary.cartId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.CartDeliveryGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cart_Delivery_Group.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.SalesPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopSaleTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.TotalListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopListTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.UnitAdjustedPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUnitAdjustedPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopAdjustedSaleTotal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>cartItem.UnitAdjustmentAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopUnitAdjustment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Cart_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Store_Channel_Error</name>
        <label>Assign No Store Channel Error</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Info in Quote is not enough. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Enough_Info_In_Quote</name>
        <label>Has Enough Info In Quote</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Quote_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>Has_Store_No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.ChannelStore__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_No_Store_Channel_Error</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>cartName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.Quote_Flow_QuoteCartName},&apos;{quoteNumber}&apos;, {!Get_Quote.QuoteNumber})</expression>
    </formulas>
    <formulas>
        <name>loopAdjustedSaleTotal</name>
        <dataType>Number</dataType>
        <expression>{!loopUnitAdjustedPrice}*{!Loop_Quote_Items.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>loopListTotal</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Quote_Items.ListPrice}*{!Loop_Quote_Items.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>loopSaleTotal</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Quote_Items.UnitPrice}*{!Loop_Quote_Items.Quantity}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>loopUnitAdjustedPrice</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Quote_Items.UnitPrice}-{!loopUnitAdjustment}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>loopUnitAdjustment</name>
        <dataType>Number</dataType>
        <expression>{!Loop_Quote_Items.UnitPrice}*(NULLVALUE({!Loop_Quote_Items.Discount},0)/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>[Quote] Convert Quote to Cart {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] Convert Quote to Cart</label>
    <loops>
        <name>Loop_Quote_Items</name>
        <label>Loop Quote Items</label>
        <locationX>402</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Quote_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cart_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cart_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cart_Items</name>
        <label>Create Cart Items</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <inputReference>cartItemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cart_Delivery_Group</name>
        <label>Get Cart Delivery Group</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Cart.cartSummary.cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CartDeliveryGroup</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Items</name>
        <label>Get Quote Items</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Cart_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Enough_Info_In_Quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Webstore_To_Set_Owner</name>
        <label>Update Webstore To Set Owner</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Cart_Delivery_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Cart.cartSummary.cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Error_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ErrorBody</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;{!$Label.Quote_Flow_ErrorOccured}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.Quote_Flow_ErrorContent}: {!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>402</locationX>
        <locationY>1514</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Success_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SuccessMessage</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;{!$Label.Quote_Flow_Complete}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Label.Quote_Flow_CompleteDescription}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>閉じる</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cartInput</name>
        <apexClass>ConnectApi__CartInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cartItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartItem</objectType>
    </variables>
    <variables>
        <name>cartItemInput</name>
        <apexClass>ConnectApi__CartItemInput</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cartItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartItem</objectType>
    </variables>
    <variables>
        <name>cartItemPriceAdjustment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartItemPriceAdjustment</objectType>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
