package/B2BQuote/force-app/main/default/flows/Accept_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_ro_Cart</name>
        <label>Redirect ro Cart</label>
        <locationX>1219</locationX>
        <locationY>49</locationY>
        <actionName>c:DE_FlowPageRedirectActionForCommunity</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>extendedId</name>
            <value>
                <elementReference>NewCartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pageName</name>
            <value>
                <stringValue>cart</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Nullify_Single_cart_Items</name>
        <label>Nullify Single cart Items</label>
        <locationX>827</locationX>
        <locationY>293</locationY>
        <assignmentItems>
            <assignToReference>SingleCartItem</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Quote_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>single_cart_item_assignment</name>
        <label>single cart item assignment</label>
        <locationX>996</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>SingleCartItem.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.SalesPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Items.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Items.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.TotalAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Items.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.CartId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCartId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Items.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.CartDeliveryGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cartdeliverygroupId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Product</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.TotalLineAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Items.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.TotalListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Items.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.UnitAdjustedPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Items.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.AdjustmentAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Items.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCartItem.Sku</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Quote_Items.Product2.StockKeepingUnit</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>single_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>single_to_list</name>
        <label>single to list</label>
        <locationX>824</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>CartItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCartItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nullify_Single_cart_Items</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Cart_Check</name>
        <label>Active Cart Check</label>
        <locationX>271</locationX>
        <locationY>374</locationY>
        <defaultConnector>
            <targetReference>get_deliverygroup_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Active_Cart</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCartId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_webstore_details</targetReference>
            </connector>
            <label>No Active Cart</label>
        </rules>
    </decisions>
    <interviewLabel>Accept Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Accept Quote</label>
    <loops>
        <name>Loop_Through_Quote_Items</name>
        <label>Loop Through Quote Items</label>
        <locationX>722</locationX>
        <locationY>222</locationY>
        <collectionReference>get_Quote_lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>single_cart_item_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_cart_items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>cart_delivery_group_id</name>
        <label>cart delivery group id</label>
        <locationX>567</locationX>
        <locationY>621</locationY>
        <assignRecordIdToReference>cartdeliverygroupId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Through_Quote_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>CartId</field>
            <value>
                <elementReference>NewCartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Default Delivery</stringValue>
            </value>
        </inputAssignments>
        <object>CartDeliveryGroup</object>
    </recordCreates>
    <recordCreates>
        <name>create_cart</name>
        <label>create cart</label>
        <locationX>432</locationX>
        <locationY>621</locationY>
        <assignRecordIdToReference>NewCartId</assignRecordIdToReference>
        <connector>
            <targetReference>cart_delivery_group_id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Quote_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Cart</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Cart</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WebStoreId</field>
            <value>
                <elementReference>get_webstore_details.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordCreates>
    <recordCreates>
        <name>create_cart_items</name>
        <label>create cart items</label>
        <locationX>725</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Cart_creatgion</targetReference>
        </connector>
        <inputReference>CartItemList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Active_CartId</name>
        <label>get Active CartId</label>
        <locationX>279</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Cart_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>WebCart</object>
        <outputAssignments>
            <assignToReference>NewCartId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_deliverygroup_Id</name>
        <label>get deliverygroup Id</label>
        <locationX>446</locationX>
        <locationY>358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Quote_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewCartId</elementReference>
            </value>
        </filters>
        <object>CartDeliveryGroup</object>
        <outputAssignments>
            <assignToReference>cartdeliverygroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Details</name>
        <label>Get Quote Details</label>
        <locationX>471</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Quote_lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Quote_lines</name>
        <label>get Quote lines</label>
        <locationX>427</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Active_CartId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_webstore_details</name>
        <label>get webstore details</label>
        <locationX>278</locationX>
        <locationY>621</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>create_cart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.DE_WebStoreName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebStore</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>query_list_view</name>
        <label>query list view</label>
        <locationX>1086</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Redirect_ro_Cart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ListView</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Accept_Quote</name>
        <label>Accept Quote</label>
        <locationX>354</locationX>
        <locationY>62</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Quote_Details</targetReference>
        </connector>
        <fields>
            <name>QuoteAcceptConfirmation</name>
            <fieldText>&lt;p&gt;Please click next to accept the Quote.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cart_creatgion</name>
        <label>Cart creation</label>
        <locationX>932</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>query_list_view</targetReference>
        </connector>
        <fields>
            <name>AcceptanceMessage</name>
            <extensionName>c:successPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>successMessage</name>
                <value>
                    <stringValue>Thanks for accepting the quote. Please proceed to cart and complete checkout!!</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>14</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>Accept_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>cartdeliverygroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CartItemList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartItem</objectType>
    </variables>
    <variables>
        <name>NewCartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleCartItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartItem</objectType>
    </variables>
</Flow>
