package/B2BQuote/force-app/main/default/flows/Request_a_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Home_Redirect</name>
        <label>Home Redirect</label>
        <locationX>1270</locationX>
        <locationY>654</locationY>
        <actionName>c:DE_FLowCommunityPageRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>comPage</name>
            <value>
                <stringValue>Home</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>redirectType</name>
            <value>
                <stringValue>Named Page</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_Single_to_List</name>
        <label>Assign Single to List</label>
        <locationX>868</locationX>
        <locationY>545</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuoteLineItemSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nullify_Single_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nullify_Single_Item</name>
        <label>Nullify Single Item</label>
        <locationX>870</locationX>
        <locationY>415</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemSingle</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Cart_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>pricebook_Id_assignment</name>
        <label>pricebook Id assignment</label>
        <locationX>319</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>PriceBookId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_price_book_Id.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>get_Cart_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>QuoteItemSingleAssignment</name>
        <label>QuoteItemSingleAssignment</label>
        <locationX>994</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>QuoteLineItemSingle.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cart_Items.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItemSingle.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cart_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItemSingle.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cart_Items.SalesPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItemSingle.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Cart_Items.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItemSingle.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteLineItemSingle.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Pricebook_Entry_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Single_to_List</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>&apos;New Opportunity For &apos;+{!$User.FirstName}+&apos;,&apos;+{!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <expression>&apos;New Quote For &apos;+{!$User.FirstName}+&apos;,&apos;+{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Request a Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Request a Quote</label>
    <loops>
        <name>Loop_Through_Cart_Items</name>
        <label>Loop Through Cart Items</label>
        <locationX>948</locationX>
        <locationY>199</locationY>
        <collectionReference>get_cart_lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Pricebook_Entry_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Quote_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>703</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>get_Cart_Details.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Quote_Needed_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastCategoryName</field>
            <value>
                <stringValue>Pipeline</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Proposal/Quote</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>827</locationX>
        <locationY>199</locationY>
        <connector>
            <targetReference>Loop_Through_Cart_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>AdditionalCity</field>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>Quote_Needed_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Create_Opportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_For_Quote__c</field>
            <value>
                <elementReference>Reason_for_Quote</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote_Items</name>
        <label>Create Quote Items</label>
        <locationX>1140</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Clear_Cart</targetReference>
        </connector>
        <inputReference>QuoteLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Cart_Details</name>
        <label>get Cart Details</label>
        <locationX>319</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Request_for_quote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_cart_lines</name>
        <label>get cart lines</label>
        <locationX>596</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CartItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_price_book_Id</name>
        <label>get price book Id</label>
        <locationX>176</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>pricebook_Id_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WebStoreId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Webstore_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebStorePricebook</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Pricebook2Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Pricebook_Entry_Id</name>
        <label>get Pricebook Entry Id</label>
        <locationX>1094</locationX>
        <locationY>406</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuoteItemSingleAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Cart_Items.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PriceBookId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_quote_details</name>
        <label>get quote details</label>
        <locationX>1270</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Request_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>QuoteNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Webstore_ID</name>
        <label>Get Webstore ID</label>
        <locationX>176</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_price_book_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.DE_WebStoreName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebStore</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Cart</name>
        <label>Clear Cart</label>
        <locationX>1270</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>get_quote_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>PendingDelete</stringValue>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Quote_Request_Message</name>
        <label>Quote Request Message</label>
        <locationX>1270</locationX>
        <locationY>471</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Home_Redirect</targetReference>
        </connector>
        <fields>
            <name>QuoteSuccess</name>
            <extensionName>c:successPage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>successMessage</name>
                <value>
                    <stringValue>Quote has been requested. Our representative will get in touch with you soon!!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>linkLabel</name>
                <value>
                    <elementReference>get_quote_details.QuoteNumber</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navRecord</name>
                <value>
                    <elementReference>Create_Quote</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showCustomLink</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Request_for_quote</name>
        <label>Request for quote</label>
        <locationX>468</locationX>
        <locationY>199</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_cart_lines</targetReference>
        </connector>
        <fields>
            <name>Quote_Needed_By</name>
            <dataType>Date</dataType>
            <fieldText>Quote Needed By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Quote</name>
            <fieldText>Reason for Quote</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Webstore_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PriceBookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QuoteLineItemSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
